/* Imported my geisty */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


/* Rooooooottttttt */

:root {

    /* Colorsss */

    --prime-color: #F5F5F5;
    --second-color: #CCCCCC;
    --accent-color: #eeb0ff;

    --text-color: #323232;
    --text-light-color: #C2C2C2;

    --border-color: #E0E0E0;



    /* Typography and shii */

    --body-font: "Geist", sans-serif;

    --text-xs: 0.7rem;
    --text-sm: 0.75rem;
    --text-md: 0.9rem;
    --text-lg: 1rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;

    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;


    /* Borders */

    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-xl: 32px;
    --radius-full: 9999px;



    /* Shadows */

    --shadow-sm:
        2px 2px 4px #dfdada,
        -2px -2px 4px #ffffff;

    --shadow-md:
        6px 6px 12px #cfcfcf,
        -6px -6px 12px #ffffff;

    --shadow-lg:
        12px 12px 24px #cfcfcf,
        -12px -12px 24px #ffffff;



    /* Transitions */


    --transition-fast: .2s ease;
    --transition-normal: .3s ease;
    --transition-slow: .5s ease;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--prime-color);   
}

.container {
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    padding: 30px;
    width: fit-content;
}
/* The different groups of the contaianer */

.header {
    display: flex;
    justify-content: center;
    gap: 100px;
}



/* The prompt container and its babies */

.prompt-container {
    display: flex;
    width: 100%;
    margin: 20px 0;
    gap: 5px;
}

.prompt-container textarea {
    width: 100%;
    min-height: 50px;
    margin-right: 5px;
    border-radius: var(--radius-sm);
    padding: 10px;
    border: none;
}

.prompt-container textarea:focus {
    border: none;
    outline: none;
}

.prompt-container button {
    width: 70px;
    min-height: 50px;
    background-color: #323232;
    color: var(--prime-color);
    cursor: pointer;
    border: none;
    border-radius: var(--radius-sm)
}

.prompt-container svg {
    width: 20px;
    height: 20px;
}




/* The prompt selectors and the generate button area thingys*/

.prompt-actions {
    display: flex;
    gap: 10px;
}

.prompt-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    left: 0;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--accent-color);
    gap: 10px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: auto;
}

.prompt-actions button svg {
    width: 20px;
    height: 20px;
}


/* All the selectors are under the same class, separate o but the same class */

.select-wrapper select {
    outline: none;
    border: none;
    border-radius: var(--radius-sm);
    min-height: 30px;
    padding: 10px;
    transition: 500ms ease;
}

